.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;
  border: 5px solid $main-color;
  border-top: 0;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;

  &__brand {
    display: flex;
    align-items: center;
    cursor: pointer;

    &-logo {
      width: 75px;
      height: 75px;
      overflow: hidden;
      border: 5px solid white;

      img {
        width: 100%;
        object-fit: contain;
      }
    }

    &-text {
      font-size: 1.8rem;
      font-weight: bold;
      margin-left: 1rem;
    }
  }

  &__navbar {
    &-item {
      display: inline-block;
      font-size: 1.5rem;
      margin-left: 3rem;
      cursor: pointer;
      color: $text-color;
      position: relative;

      &.active {
        font-weight: bold;

        .tabDot{
            opacity: 1;
            transition: opacity 0.5s linear;
        }
      }

      .tabDot {
        position: absolute;
        border-radius: 50%;
        width: 0.7rem;
        height: 0.7rem;
        background-color: $text-color;
        left: calc(50% - 0.35rem);
        bottom: -1.5rem;
        opacity: 0;
      }
    }
  }
}
